.post {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  width: 200px;
  height: 150px;
}

body {
  background-color: #ddd;
}

#title {
  font-weight: bold;
}
